<h1>
    User Avatar
</h1>
    <img [src]="avatarUrl" height="200" *ngIf="avatarUrl">
    <h1>
    User Information

    </h1>
    <div>
    <table  style="width:100%">
    <tr>
        <th>Username</th>
        <th>Country</th>
        <th>Performance Points</th>
        <th>Ranking</th>
        <th>Total Playcount</th>
        <th>Overall Accuracy</th>
    </tr>
    <tr *ngFor="let user of users">
        <td> {{ user.username }} </td>
        <td> {{ user.country }} </td>
        <td> {{ user.pp_raw }} </td>
        <td> {{ user.pp_rank }} </td>
        <td> {{ user.playcount }} </td>
        <td> {{ user.accuracy }} </td>
    </tr>
    </table>
    <h1>
    Best Scores
    </h1>
    <table  style="width:100%">
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>BPM</th>
        <th>Creator</th>
        <th>Rank</th>
        <th>Max Combo</th>
        <th>PP</th>
    </tr>
    <tr *ngFor="let score of bestScores">
        <td> {{ score[0].title }} </td>
        <td> {{ score[0].artist }} </td>
        <td> {{ score[0].bpm }} </td>
        <td> {{ score[0].creator }} </td>
        <td> {{ score[0].rank }} </td>
        <td> {{ score[0].maxcombo }}/{{ score[0].max_combo }} </td>
        <td> {{ score[0].pp }} </td>
    </tr>
    </table>
    <h1>
    Recent Scores
    </h1>
    <table  style="width:100%">
    <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>BPM</th>
        <th>Creator</th>
        <th>Rank</th>
        <th>Max Combo</th>
        <th>PP</th>
    </tr>
    <tr *ngFor="let score of recentScores">
        <td> {{ score[0].title }} </td>
        <td> {{ score[0].artist }} </td>
        <td> {{ score[0].bpm }} </td>
        <td> {{ score[0].creator }} </td>
        <td> {{ score[0].rank }} </td>
        <td> {{ score[0].maxcombo }}/{{ score[0].max_combo }} </td>
        <td> {{ score[0].pp }} </td>
    </tr>
    </table>
    </div>