th, table , h1{

    color: white;
}

h5, p, a , th{
    color: black
}
.panel-body {
    padding: 15px;
}

body {
    padding-top: 40px;
}

div {
    color: black;
    font-weight: bold;
    text-align: left;
}

#username {
    text-align: center;
}