<script>

</script>
<body>
    <div class="container">
        <input (click)="followOrUnfollowUser()" *ngIf="loggedIn" class="btn btn-primary" type="button" [(ngModel)]="buttonValue">
        <div class="panel-heading"><h4 class="panal-title" style="text-align:center; color: white">General Stats</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm" style="text-align:center">

                    <div class="card"> 
                        <h5 class="card-header">Player</h5>
                        <div class="card-body">
                            
                            <div class="row">
                                <div class="col-sm" id="avatar">
                                    <img [src]="avatarUrl" height="200" *ngIf="avatarUrl">
                                    <div class="col-sm" id="username" *ngFor="let user of users"> {{ user.username }}</div>
                                </div>
                                <div class="col-sm" id="userdata">
                                    Country <br> <br>
                                    Rank     <br> <br>
                                    PP
                                </div>
                                <div class="col-sm" *ngFor="let user of users" id="userdata">
                                    {{ user.country }} <br><br>
                                    #{{ user.pp_rank }}  <br><br>
                                    {{ user.pp_raw }}
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm">
                    <div class="card">
                        <h5 class="card-header">User Overall</h5>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm" id="usergeneraldata">
                                    Overall Accuracy  <br><br>
                                    Total Playcount
                                </div>

                                <div class="col-sm" *ngFor="let user of users" id="usergeneraldata">
                                    %{{ user.accuracy.substring(0,5) }} <br><br>
                                    {{ user.playcount }}  
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-heading"><h4 class="panal-title" style="text-align:center">Best Scores</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm" style="text-align:center">
                    Title
                </div>
                <div class="col-sm" style="text-align:center">
                    Artist
                </div>
                <div class="col-sm" style="text-align:center">
                    Rank
                </div>
                <div class="col-sm" style="text-align:center">
                    Max Combo
                </div>
                <div class="col-sm" style="text-align:center">
                    PP
                </div>
            </div>
        </div>
    
        
        <div class="panel-heading"><h4 class="panal-title" style="text-align:center">Recent Scores</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm" style="text-align:center">
                    Title
                </div>
                <div class="col-sm" style="text-align:center">
                    Artist
                </div>
                <div class="col-sm" style="text-align:center">
                    Rank
                </div>
                <div class="col-sm" style="text-align:center">
                    Max Combo
                </div>
                <div class="col-sm" style="text-align:center">
                    PP
                </div>
            </div>
        </div>


    </div>   
</body>