<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="../HTML/main.html">osu! follow</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">About Us</a>
    </ul>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" id="signin" href="../HTML/signUp.html">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="login" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile" href="#">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"id="logout" href="#">Logout</a>
      </li>
    </ul>
</nav>
<router-outlet></router-outlet>
