<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="./main">osu! follow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="form-inline">
      <div class="md-form my-0">
        <input #box (keyup.enter)="onEnter(box.value)" class="form-control mr-sm-2" type="search" placeholder="Enter username" aria-label="Search">
        <button (click)="onEnter(box.value)" class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" type="submit">Search</button>
      </div>
    </div>
  </div>
  <ul class="nav justify-content-end grey" *ngIf="loggedIn">
    <li class="nav-item">
      <button type="button" class="btn btn-primary">
            Notifications <span class="badge badge-light">0</span>
      </button>
    </li>
    <li class="nav-item">
      <a href="/profile/" class="nav-link" >Profile</a>
    </li>
    <li class="nav-item">
      <a href="" (click)="logout()" class="nav-link" >Logout</a>
    </li>
  </ul>
  <ul class="nav justify-content-end grey" *ngIf="!loggedIn">
    <li class="nav-item">
      <a href="/login" class="nav-link" >Login</a>
    </li>
    <li class="nav-item">
      <a href="/register" class="nav-link">Register</a>
    </li>
  </ul>
</nav>

<body>
  <div>
    <div class="container-login100">
    </div>
  </div>
</body>

<router-outlet></router-outlet>

<footer class="font-small navbar-dark bg-dark fixed-bottom">
    <div class="text-center text-primary py-3">©2018 Copyright:
        <a href="./register"> osufollow.com</a>
    </div>
</footer>
