<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d7b03936-d644-499e-a56b-a6989072d336/resourceGroups/osufollowService20181217120206ResourceGroup/providers/Microsoft.Web/sites/osufollowService</ResourceId>
    <ResourceGroup>osufollowService20181217120206ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://osufollowservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>osufollowservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>osufollowService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$osufollowService</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="osufollowConnectionString" Order="1" Enabled="True">
          <Destination Path="Data Source=osufollow.database.windows.net;Initial Catalog=osufollow;User ID=osufollowadmin;Password=!Admin123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" Name="Data Source=osufollow.database.windows.net;Initial Catalog=osufollow;User ID=osufollowadmin;Password=!Admin123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="osufollowService.Data.ApplicationDbContext, osufollowService" MigrationConfiguration="osufollowService.Migrations.Configuration, osufollowService" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="osufollowConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=osufollow.database.windows.net;Initial Catalog=osufollow;User ID=osufollowadmin;Password=!Admin123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>